body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #fff;
  height: 10vh; }

a {
  display: block;
  text-decoration: none;
  color: #fff; }

h1, h2, h3, h4, p {
  margin: 0; }

.text {
  font-size: 14px; }

.title {
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase; }

.subtitle {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase; }

img {
  max-width: 100%; }

.fp-tableCell {
  display: block !important; }

.content {
  text-align: center;
  max-width: 1050px; }

.btn {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  outline: none;
  border: none; }

.one {
  padding-top: 100px;
  padding-bottom: 100px; }

.header {
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: rgba(191, 230, 236, 0.7); }
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }

@media screen and (max-width: 991px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    right: 0;
    z-index: 2; }
    .header__burger:before, .header__burger:after {
      content: "";
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .header__burger:before {
      top: 0; }
    .header__burger:after {
      bottom: 0; }
    .header__burger span {
      position: absolute;
      left: 0;
      top: 9px;
      display: block;
      width: 100%;
      height: 2px;
      background: #fff; }
    .header__burger.active:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 9px; }
    .header__burger.active:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      bottom: 9px; }
    .header__burger.active span {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }
  .header__logo {
    position: relative;
    z-index: 2; } }

.slick-header {
  position: relative;
  height: 1000px; }
  .slick-header img {
    height: 100%; }
  .slick-header .slick-arrow {
    position: absolute;
    top: 48%;
    z-index: 1;
    font-size: 0;
    width: 30px;
    height: 60px;
    border: none; }
    .slick-header .slick-arrow.slick-prev {
      left: 38px;
      background: url(/img/slick/arrow-left.svg) no-repeat; }
    .slick-header .slick-arrow.slick-next {
      right: 0;
      background: url(/img/slick/arrow-right.svg) no-repeat;
      right: 47px; }
  .slick-header .slick-dots {
    position: absolute;
    bottom: 64px;
    left: 42%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .slick-header .slick-dots li {
      list-style: none;
      margin: 0 0 0 30px; }
      .slick-header .slick-dots li.slick-active button {
        background: #74c7d5; }
    .slick-header .slick-dots button {
      font-size: 0;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      border: none;
      outline: none; }

.idea {
  background: rgba(255, 255, 255, 0.1);
  max-width: 840px;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  position: absolute;
  top: 42%;
  left: 18%;
  color: #74c7d5; }
  .idea__good {
    max-width: 367px;
    text-align: right; }
    .idea__good span {
      text-transform: lowercase; }
  .idea__bigtitle {
    font-size: 130px;
    text-transform: uppercase;
    font-weight: 900; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .nav__link {
    color: #fff;
    margin: 0 30px; }
    .nav__link:first-child {
      margin-left: 0; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

@media screen and (max-width: 991px) {
  .nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #965555;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    .nav.active {
      top: 0; }
    .nav__link {
      margin: 0 0 30px 0;
      font-size: 20px; }
    .nav__list {
      display: block; } }

.services {
  background: #b24a50 url(/img/service/services.jpg) no-repeat;
  background-size: cover;
  padding-top: 175px;
  padding-bottom: 122px; }
  @media screen and (max-width: 575px) {
    .services {
      padding-top: 80px;
      padding-bottom: 80px; } }
  .services__content span {
    color: #ec9da2; }
  @media screen and (max-width: 1199px) {
    .services__title {
      font-size: 43px; } }
  .services__lead {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 31px;
    font-weight: 400; }
    @media screen and (max-width: 575px) {
      .services__lead {
        font-size: 19px; } }
  .services__text {
    line-height: 1.7;
    margin-top: 15px;
    color: #ffcccf; }
  .services__items {
    margin-top: 117px; }
    @media screen and (max-width: 1199px) {
      .services__items {
        margin-top: 80px; } }

.item-service__block {
  background: #c45158;
  text-align: center;
  padding: 40px 24px;
  border-radius: 5px; }
  @media screen and (max-width: 1199px) {
    .item-service__block {
      margin-bottom: 20px; } }

.item-service__subtitle {
  margin: 18px 0 42px 0; }
  @media screen and (max-width: 767px) {
    .item-service__subtitle {
      margin-bottom: 20px; } }
  @media screen and (max-width: 1199px) {
    .item-service__subtitle {
      font-size: 24px; } }

.item-service__text {
  line-height: 1.429;
  color: #fefefe; }
  @media screen and (max-width: 1199px) {
    .item-service__text {
      font-size: 13px; } }

.about {
  background: #665464 url(/img/about/aboutbg.jpg) no-repeat;
  background-size: cover;
  padding-top: 187px;
  padding-bottom: 115px; }
  @media screen and (max-width: 575px) {
    .about {
      padding-top: 80px;
      padding-bottom: 80px; } }
  @media screen and (max-width: 575px) {
    .about__title {
      font-size: 41px; } }
  .about__text {
    margin-top: 14px;
    line-height: 24px; }
  .about__btn {
    background-color: #a1ca6c;
    width: 100%;
    max-width: 276px;
    padding: 6px 0;
    border-radius: 5px;
    margin-top: 55px;
    position: relative; }
    .about__btn::before {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 50%;
      width: 15px;
      height: 15px;
      border-top: 1px solid #a1ca6c;
      border-left: 1px solid #a1ca6c;
      background-color: #a1ca6c;
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg); }
  .about__info {
    margin-top: 71px; }
  .about__info-block {
    text-align: center;
    border-radius: 5px;
    background-color: rgba(77, 63, 75, 0.5);
    padding-top: 40px;
    padding-bottom: 29px; }
    .about__info-block:hover .about__info-name {
      color: #fff; }
    .about__info-block:hover .about__info-job {
      color: #ff8973; }
    .about__info-block:hover .about__info-network--fac {
      background-color: #4f689e; }
    .about__info-block:hover .about__info-network--twit {
      background-color: #74c7d5; }
    .about__info-block:hover .about__info-network--goog {
      background-color: #df5c64; }
    .about__info-block:hover .about__info-network--link {
      background-color: #3e61af; }
    @media screen and (max-width: 991px) {
      .about__info-block {
        margin-bottom: 20px; } }
  .about__info-photo {
    margin-bottom: 4px; }
  .about__info-name {
    font-size: 25px;
    font-weight: 900;
    color: #c7b6c5;
    text-transform: uppercase;
    margin-bottom: 6px; }
  .about__info-job {
    font-size: 14px;
    color: #a1ca6c;
    margin-bottom: 38px; }
  .about__info-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .about__info-network {
    margin: 0 10px;
    background-color: #a1859e;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.work {
  background: #81a155;
  background-size: cover;
  padding-top: 185px;
  padding-bottom: 215px; }
  @media screen and (max-width: 575px) {
    .work {
      padding-top: 80px;
      padding-bottom: 80px; } }
  @media screen and (max-width: 575px) {
    .work__title {
      font-size: 48px; } }
  .work__text {
    line-height: 24px;
    margin-top: 14px; }
  .work__pictures {
    margin-top: 60px; }
  .work__pictures-block {
    text-align: center;
    margin-bottom: 20px; }
  .work__pictures-photo img {
    display: block;
    width: 300px;
    height: 200px; }
    @media screen and (max-width: 575px) {
      .work__pictures-photo img {
        width: 100%; } }
  .work__pictures-name {
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    color: #727272;
    text-transform: uppercase;
    padding: 20px 0;
    position: relative; }
    .work__pictures-name::before {
      content: "";
      position: absolute;
      top: -15px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid #fff; }

.contact {
  background: #75b4aa;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 120px; }
  @media screen and (max-width: 575px) {
    .contact {
      padding-top: 80px;
      padding-bottom: 80px; } }
  .contact__wrapper {
    padding-top: 180px; }
  @media screen and (max-width: 575px) {
    .contact__title {
      font-size: 48px; } }
  .contact__text {
    line-height: 24px;
    margin-top: 14px; }
  .contact__info {
    margin-top: 109px; }
    .contact__info-address {
      font-size: 30px;
      font-weight: 300; }
    .contact__info-flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 17px; }
    .contact__info-flexcol {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .contact__info-acrostia {
      font-size: 20px;
      color: #c0dfda;
      font-weight: 700;
      margin-bottom: 10px; }
    .contact__info-sevenoaks, .contact__info-uk {
      font-size: 16px; }
    .contact__info-networks {
      font-size: 16px;
      line-height: 21px;
      color: #d0efea; }
      .contact__info-networks a {
        margin-left: 30px;
        font-size: 16px; }
    .contact__info-mail a {
      text-decoration: underline; }
    .contact__info-question {
      font-size: 30px;
      font-weight: 300; }
    .contact__info-form {
      margin-top: 16px; }
    .contact__info-input, .contact__info-area {
      max-width: 260px;
      padding: 10px 20px;
      background-color: #68a097;
      font-family: "Lato";
      font-weight: 400;
      font-size: 16px;
      color: #fff;
      border: 0;
      outline: 0;
      width: 100%; }
    .contact__info-area {
      display: block;
      margin-top: 20px; }
    .contact__info-btn {
      max-width: 260px;
      width: 100%;
      border-radius: 4px;
      background-color: #df5c64;
      border: 0;
      outline: 0;
      margin-top: 25px; }
    .contact__info ::-webkit-input-placeholder {
      font-size: 16px;
      color: #82c8bd;
      font-family: "Lato";
      font-weight: 400; }
    .contact__info ::-moz-placeholder {
      font-size: 16px;
      color: #82c8bd;
      font-family: "Lato";
      font-weight: 400; }
    .contact__info :-moz-placeholder {
      font-size: 16px;
      color: #82c8bd;
      font-family: "Lato";
      font-weight: 400; }
    .contact__info :-ms-input-placeholder {
      font-size: 16px;
      color: #82c8bd;
      font-family: "Lato";
      font-weight: 400; }

.footer {
  background-color: #68a097;
  background-size: cover;
  padding: 30px 0; }
  .footer__content-social {
    margin: 0 20px;
    margin: 0 10px;
    background-color: #a1859e;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #82c8bd; }

.intro {
  position: relative; }
  .intro__content {
    text-align: center;
    color: #74c7d5;
    text-transform: uppercase;
    z-index: 2; }
  .intro__simple {
    font-size: 80px;
    font-family: "Gotham";
    letter-spacing: 3px; }
    @media screen and (max-width: 575px) {
      .intro__simple {
        font-size: 60px; } }
  .intro__world {
    font-size: 18px;
    font-family: "GothamBook";
    margin-top: 21px;
    letter-spacing: 5px; }

.slick-top__item {
  background: url(/img/head.jpg);
  background-size: cover;
  padding-top: 342px;
  padding-bottom: 316px; }

.slick-top .slick-dots {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 27px; }
  @media screen and (max-width: 575px) {
    .slick-top .slick-dots {
      right: 10px; } }

.slick-top .slick-dots li {
  list-style-type: none;
  margin: 20px 0;
  padding: 0; }

.slick-top .slick-dots button {
  font-size: 0;
  height: 13px;
  outline: none;
  border: 1px solid #fff;
  border-radius: 50%;
  background: transparent; }

.slick-top .slick-dots li.slick-active button {
  background: #fff; }
