.footer {
    background-color: #68a097;
    background-size: cover;
    padding: 30px 0;

    &__content-social {
        margin: 0 20px;
        margin: 0 10px;
        background-color: #a1859e;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        background-color: #82c8bd;

    }
}