.services {
    background: #b24a50 url(/img/service/services.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 120px;
    padding-top: 175px;

    &__content {
        span {
            color: #ec9da2;
        }
    }

    &__title {
        @media screen and (max-width: 1199px) {
            font-size: 43px;
        }
    }

    &__lead {
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
        margin-top: 31px;
        font-weight: 400;
    }

    &__text {
        line-height: 1.7;
        margin-top: 15px;
        color: #ffcccf;
    }

    &__items {
        margin-top: 118px;

        @media screen and (max-width: 1199px) {
            margin-top: 80px;
        }
    }
}



  
