.services {
    background: url(/img/services.jpg) no-repeat;
    background-color: #9e7b7d;
    background-size: cover;
    padding-top: 175px;
    padding-bottom: 122px;

    & {
        @media screen and(max-width:575px) {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }
   
    &__content {
        span {
            color: #ec9da2;
        }
    }

    &__title {
        @media screen and (max-width: 1199px) {
            font-size: 43px;
        }
    }

    &__lead {
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
        margin-top: 31px;
        font-weight: 400;

        @media screen and(max-width:575px) {
            font-size: 19px;
        }
    }

    &__text {
        line-height: 1.7;
        margin-top: 15px;
        color: #ffcccf;
    }

    &__items {
        margin-top: 117px;

        @media screen and (max-width: 1199px) {
            margin-top: 80px;
        }
    }
}



  
